---
name: Checks

on: [push]

jobs:
  test-lint:
  name: Test and Lint
  runs-on: ubuntu-20.04
  steps:
    - name: login to dockerhub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: checkout repo
      uses: actions/checkout@v2
    - name: test
      run: docker-compose run --rm app sh -c "python manage.py test"
    - name: lint
      run: docker-compose run --rm app sh -c "flake8"
